.close-order > path {
    transition: all 0.2s ease-in-out;
    &:hover {
        fill: black;
    }
}

/* .close-order {
    padding: 5px;
    path {
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        path {
            fill: black;
        }
    }
} */